* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rating-star {
  color: rgb(223, 124, 37);
}

.breadcrumb-container {
  background: rgb(250, 248, 252);
  width: 50%;
  display: flex;
  padding: 8px;
  font-weight: 600;
  gap: 6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.breadcrumb-container p {
  color: rgb(144, 140, 140);
}

.breadcrumb-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.breadcrumb-link:hover {
  color: brown;
}

/* ====================================Loading Component ===============================*/

.loading-container {
  width: 100%;
  height: 100%;
  padding: 200px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* =========================================Header Styling ==================================== */
.header-container {
  background: #131921;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 12px;
  padding: 2px 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-logo-div {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-logo-img {
  position: relative;
  height: 100%;
  z-index: 9999;
  object-fit: contain;
  padding: 4px 12px;
}

.header-sub-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.Search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-input {
  padding: 7px 9px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 80%;
  outline: none;
  height: 40px;
  border: none;
}

.Search-btn {
  padding: 7px 8px;
  border: none;
  outline: none;
  background: rgb(228, 112, 69);
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Nav Links */
.header-nav-div {
  display: flex;
  gap: 12px;
  justify-content: end;
  height: 100%;
  padding: 8px 16px;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 8px 8px;
  gap: 3px;
  border: 1px solid transparent;
}

.nav-links:hover {
  background: rgb(247, 202, 0);
  color: white;
  border-radius: 2px;
}

.nav-links:active,
.nav-links:focus {
  color: rgb(247, 202, 0);
  background: #000;
  border-color: rgb(247, 202, 0);
}

.cart-link {
  position: relative;
}

.cart-item-count {
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgb(238, 88, 34);
}
/* ================================================ProductList Component============================= */

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 36px 18px;
  gap: 24px;
  justify-content: center;
}

.fetch-error {
  width: 100%;
  height: 100%;
  padding: 200px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.loading {
  padding: 200px 44px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

/* ================================================Product Item Component============================= */
.product-card {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: rgb(249, 249, 249);
  border: 1px solid rgb(251, 251, 251);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.product-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: white;
  padding: 14px 6px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.add-to-cart-btn {
  padding: 5px 12px;
  border: none;
  border-radius: 12px;
  background: rgb(247, 202, 0);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.add-to-cart-btn:hover
{
  background: rgb(231, 189, 1);
}

.add-to-cart-btn:active
{
  box-shadow: none;
}

.price {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.price span {
  font-size: 0.8rem;
  color: brown;
}

.product-title:hover
{
  pointer-events: cursor;
  color:brown;
}

/* ================================================Product Details Component=========================== */
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  padding: 20px;
  flex-direction: column;
  gap:14px;
}

.Product-Detail-container
{
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.product-img-div
{
  display: flex;
  gap:4px;
  width:50%;
  height:100%;
}


.img-nav
{
  width:15%;
  height:100%;
  display: flex;
  flex-direction: column;
  gap:8px;
  justify-content: center;
  align-items: center;
}

.product-images
{
  width:85%;
  height: 100%;
  object-fit: contain;
  background: rgb(248,248,248);
}

.product-details
{
  width:50%;
  display: flex;
  flex-direction: column;
  gap:8px;
  padding: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Product-name
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.product-price
{
  display: flex;
  gap:8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.product-price span
{
  font-weight: 300;
  color: brown;
}

.ratings
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 100%;
  gap:6px;
  font-weight: 500;
  align-items: center;
}

.ratings p
{
  font-size: .87rem;
}

.product-stock-status
{
  color: rgb(82, 118, 0);
  font-weight: 600;
  font-size: 1.2rem;
}

.product-desc
{
  padding: 4px 8px;
  display: flex;
  gap:8px;
  flex-direction: column;
  font-size: .95rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.heading
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: black;
}


.product-rating-div
{
  width: 100%;
  height: 100%;
  display: flex;
  gap:14px;
  overflow-x: scroll;
  padding: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-rating-div::-webkit-scrollbar {
  background: white;
  width: 10px;
  border-radius: 4px;
  height: 10px;
}

.product-rating-div::-webkit-scrollbar-thumb {
  background-color: rgb(25, 87, 122);
  border: 2px solid white;
  border-radius: 12px;
}

.reviews
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 320px;
  height: 250px;
  background: rgb(250, 248, 252);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.reviewer-data
{
  display: flex;
  gap:4px;
  align-items: center;
}

.icon
{
  border-radius: 50%;
  background: green;
  padding: 8px;
  color: white;
}

.reviewer-name
{
  display: flex;
  flex-direction: column;
  gap:2px;
}

.comment
{
  padding: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.title {
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  height: 100%;
  height: 44px;
}

.title::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-bottom: 3px solid rgb(111, 183, 203);
  border-radius: 2px;
  width: 90px;
  height: 38px;
}


.product-features
{
  display: flex;
  width:100%;
  height: 100%;
}

.product-offerings
{
  display: flex;
  gap:26px;
  overflow-x: auto;
  width:100%;
  height: 100%;
  align-items: center;
}

.product-offerings span
{
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  justify-content: center;
  align-items: center;
  width:100px;
  text-align: center;
}

.product-offerings::-webkit-scrollbar {
  display: none;
}

.product-offerings::-webkit-scrollbar-thumb {
  display: none;
}
.product-features table tbody tr td
{
  border: 1px solid black;
  padding: 4px 8px;
}

.head
{
  font-weight: 600;
}

.product-features::-webkit-scrollbar {
  display: none;
}

.product-features::-webkit-scrollbar-thumb {
  display: none;
}


/*================================================= Cart Component ===============================*/
.cart-container
{
  width: 100%;
  height:100%;
  background: white;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 1px 1p 3px 1px rgba(0, 0, 0, 0.2);
}

.Cart
{
  display: flex;
  width: 100%;
  height:100%;
  justify-content:space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: end;
  padding: 4px;
}
.Cart h1
{
  font-weight: 400;
  font-size: 1.8rem;
}

.No-CartItem
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  padding: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:14px;
  width:100%;
  height: 480px;
}

.No-CartItem h1
{
  width: 270px;
}

.back-to-home
{
  background: rgb(226, 90, 41);
  color: white;
  padding: 5px 12px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 4px;
}
/* ================================================Meadia Queries ===============================*/


/* Screen width from 768px */
@media (max-width: 768px) {
  /* changing header container flex direction from row to column */
  .header-container {
    flex-direction: column;
    align-items: start;
    height: 100%;
  }
  .header-sub-container {
    align-items: start;
    flex-direction: column-reverse;
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
  .header-nav-div {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .breadcrumb-container {
    width: 100%;
    font-size: .9rem;
  }

  .Product-Detail-container
  {
    flex-direction: column;
    width: 100%;
  }

  .product-img-div,.product-details
  {
    width: 100%;
  }

  .Cart p
  {
    display: none;
  }

  .No-CartItem
  {
    height:320px;
  }
}
